{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{mentor.user.first_name}} {{mentor.user.last_name}} - {% trans "Details" %}{% endblock %}

{% block content %}
    {% if isCentech %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCompany" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% trans "Actions on this mentor" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuCompany">
            <li><a href="{% url 'mentor:update' mentor.userProfile_id %}">{% trans "Modify this mentor" %}</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-sm-12" align="center">
            {% if mentor.picture != "" %}
                <img class="avatar thumbnail" src="/media/{{ mentor.picture }}" />
            {% else %}
                <img class="avatar thumbnail" src="/media/user_profile/default.jpg" />
            {% endif %}

            <h1><strong>{{ mentor.user.first_name }} {{ mentor.user.last_name }}</strong></h1>
            <h4>{{ mentor.get_type }}</h4>
            {% if mentor.facebook %}
                <a href="{{mentor.facebook}}"><i class="fa fa-facebook-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.twitter %}
                <a href="{{mentor.twitter}}"><i class="fa fa-twitter-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.googlePlus %}
                <a href="{{mentor.googlePlus}}"><i class="fa fa-google-plus-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.linkedIn %}
                <a href="{{mentor.linkedIn}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
            {% endif %}
            <br><br>

            {% if mentor.phone != "" %}
                <b>{% trans "Phone" %} : </b> {{ mentor.phone }}<br>
            {% endif %}
            {% if mentor.website != "" %}
                <b>{% trans "Web site" %} : </b> <a href="{{ mentor.website }}">{{ mentor.website }}</a><br>
            {% endif %}
            {% if mentor.url %}
                <b>{% trans "Directory of ETS" %} : </b> <a href="{{ mentor.url }}">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</a><br>
            {% endif %}
            <br><br>
        </div>
    </div>

    {%if mentor.about != "" %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{% trans "About" %}</h3></div>
            <div class="panel-body text-justify">
                {{ mentor.about }}
            </div>
        </div>
    {% endif %}

    {%if mentor.expertise.all%}
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{% trans "Areas of expertise" %}</h3></div>
            <div class="panel-body text-justify">
                <ul>
                    {% for expertise in mentor.expertise.all %}
                        <li>{{ expertise.expertise }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Companies" %}</h3></div>
        <div class="panel-body text-justify">
            {% if companies %}
                <div class="row">
                {% for company in companies %}
                <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                    <a href="{% url 'company:detail' company.pk %}">
                        {% if company.logo != "" %}
                            <img class="avatar" src="/media/{{ company.logo }}" style="height:100%; max-width: 100%;"/><br>
                        {% else %}
                            <img class="avatar" src="/media/logo/default.jpg" style="height:100%; max-width: 100%;"/><br>
                        {% endif %}

                        {{ company.name }}
                    </a>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    <div class="row" style="margin-bottom: 50px;">
                    </div>
                {% endif %}
                {% endfor %}
                </div>

            {% else %}
                <p>{% trans "No companies found" %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
