{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block content %}
    {% if isCentech %}
    <div class="row" style="margin-bottom: 20px;">
        <a href="{% url 'mentor:update' mentor.userProfile_id %}" style="color: white;">
            <div class="col-sm-12" align="center" style="border: 1px solid lightgrey; border-top: none; background-color: #293846;">
                {% trans "Modify this mentor" %}
            </div>
        </a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12" align="center">
            <br>
            {% if mentor.picture != "" %}
                <img class="avatar" src="/media/{{ mentor.picture }}" /><br>
            {% else %}
                <img class="avatar" src="/media/user_profile/default.jpg" /><br>
            {% endif %}
            <h1><strong>{{ mentor.user.first_name }} {{ mentor.user.last_name }}</strong></h1>
            {% if mentor.facebook %}
                <a href="{{mentor.facebook}}"><i class="fa fa-facebook-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.twitter %}
                <a href="{{mentor.twitter}}"><i class="fa fa-twitter-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.googlePlus %}
                <a href="{{mentor.googlePlus}}"><i class="fa fa-google-plus-square fa-3x"></i></a>
            {% endif %}
            {% if mentor.linkedIn %}
                <a href="{{mentor.linkedIn}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
            {% endif %}
            <br><br>

            {% if mentor.phone != "" %}
                <br><b>{% trans "Phone" %} : </b> {{ mentor.phone }}<br>
            {% endif %}
            {% if mentor.website != "" %}
                <br><b>{% trans "Web site" %} : </b> <a href="{{ mentor.website }}">{{ mentor.website }}</a><br>
            {% endif %}
            {% if mentor.url %}
                <br><b>{% trans "Directory of ETS" %} : </b> <a href="{{ mentor.url }}">{{ mentor.user.first_name }} {{ mentor.user.last_name }}</a><br>
            {% endif %}
            <br><br>
        </div>
    </div>
    {%if mentor.about != "" %}
    <div class="well well-lg" style="background-color: #87cefa">
        <div class="row">
            <div class="col-sm-12" align="center" style="text-align: justify;">
                <h2 align="center"><strong>{% trans "About" %}</strong></h2>
                <!--TODO Set a Mardown system-->
                {{ mentor.about }}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="well well-lg" style="background-color: gold">
     <div class="row">
        <div class="col-sm-12" align="center">
            <h2 align="center" ><strong>{% trans "Areas of expertise" %}</strong></h2>
            <ul>
                {% for expertise in mentor.expertise.all %}
                    <li>{{ expertise.expertise }}</li>
                {% endfor %}
            </ul>
        </div>
         </div>
    </div>
    <div class="well well-lg" style="background-color: lightgreen">
        <h2 align="center"><strong>{% trans "Companies" %}</strong></h2>
        {% if companies %}
            <div class="row">
            {% for company in companies %}
            <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                <a href="{% url 'company:detail' company.pk %}">
                    {% if company.logo != "" %}
                        <img class="avatar" src="/media/{{ company.logo }}" style="height:100%; max-width: 100%;"/><br>
                    {% else %}
                        <img class="avatar" src="/media/logo/default.jpg" style="height:100%; max-width: 100%;"/><br>
                    {% endif %}

                    {{ company.name }}
                </a>
                <br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="row" style="margin-bottom: 50px;">
                </div>
            {% endif %}
            {% endfor %}
            </div>

        {% else %}
            <p>{% trans "No companies exist." %}</p>
        {% endif %}
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
