{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}{% trans "Centech Mentors" %}{% endblock %}
{% block content %}
    <h1>{% trans "Centech Mentors" %}</h1>
    <div class="panel panel-default">
        <div class="panel-body well">
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {{ mentorFilter.form.as_p }}
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">
                            <i class='fa fa-search'> </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if mentorFilter %}
    <div class="row" style="margin-bottom: 50px;">
        {% for mentor in mentorFilter %}
        <div class="col-md-3" style="padding: 10px;">
            <div class="panel" style="height: 150px; padding: 10px;">
                <a href="{% url 'mentor:detail' mentor.pk %}">
                    {% if mentor.picture != "" %}
                        <img src="/media/{{ mentor.picture }}" class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                    {% else %}
                        <img src="/media/user_profile/default.jpg"  class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                    {% endif %}
                    <strong>{{ mentor.user.first_name }} {{ mentor.user.last_name }}</strong>
                </a><br>
                {{ mentor.get_type }}
            </div>
        </div>
        {% endfor %}
        </div>

    {% else %}
        <p>{% trans "No mentors exist." %}</p>
    {% endif %}
{% endblock %}

