body {
    
    margin:0px;
    background-color:#36393b;
 
}
body, html {
    height: 100%;
}

.centered{
    width:175px;
    margin-left:auto;
    margin-right:auto;
    margin-top:150px;
    height:100%;
}
