#https://rayed.com/wordpress/?p=1266
{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Delete IRL" %}{% endblock %}

{% block content %}
    <h1>{% trans "IRL" %}</h1>
    <h1>{% trans "Are you sure you want to delete this IRL?" %}</h1>

    <p> {% trans "Level"%} : {{ irl.level }} <br>
        {% trans "Created on" %} : {{ irl.period_start }}<br>
        {% trans "Comment" %} : {{ irl.comment }}</p>

    <form method="post" action="">
       {% csrf_token %}
       <button type="submit">{% trans "Delete" %}</button> - <a href="{% url 'kpi:irl_filter' companyId %}">{% trans "Cancel" %}</a>
    </form>
{% endblock %}