{% extends "dashboard.html" %}

{% load embed_video_tags %}
{% load staticfiles %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{ company }} - {% trans "Details" %}{% endblock %}

{% block extrahead %}
    <!-- PROGRESS_BAR CSS -->
    <link rel="stylesheet" href="{% static 'company/css/progress_bar.css' %}">
{% endblock %}

{% block content %}
    {% if isCentech or is_founder_of_company %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCompany" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% trans "Actions on this company" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuCompany">
            <li><a href="{% url 'company:update' company.id %}">{% trans "Modify this company" %}</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12" align="center">
            {% if company.logo != "" %}
                <img class="logo thumbnail" src="/media/{{ company.logo }}" />
            {% endif %}

            <h1><strong>{{ company.name }}</strong></h1>

            {% if company.facebook %}
                <a href="{{company.facebook}}"><i class="fa fa-facebook-square fa-3x"></i></a>
            {% endif %}
            {% if company.twitter %}
                <a href="{{company.twitter}}"><i class="fa fa-twitter-square fa-3x"></i></a>
            {% endif %}
            {% if company.googlePlus %}
                <a href="{{company.googlePlus}}"><i class="fa fa-google-plus-square fa-3x"></i></a>
            {% endif %}
            {% if company.linkedIn %}
                <a href="{{company.linkedIn}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
            {% endif %}
            <br>
            {% if company.url != "" %}
            {% trans "Web site" %} : <a href="{{ company.url }}">{{ company.url }}</a><br><br>
            {% endif %}
            <br>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Incubation" %}</h3></div>
        <div class="panel-body text-justify">
            <dl class="dl-horizontal">
                <dt>{% trans "Incubation phase" context "20 characters max"%} :</dt>
                <dd>{{ company.companyStatus }}</dd>

            {% if company.incubated_on and company.endOfIncubation %}
                <dt>{% trans "Start date" context "20 characters max" %} :</dt>
                <dd>{{ company.incubated_on }}</dd>
                <dt>{% trans "End date" context "20 characters max" %} :</dt>
                <dd>{{ company.endOfIncubation }}</dd>
            {% endif %}

            </dl>

            {% if company.get_percentage_incubation_time %}
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="meter">
                                {% if company.get_percentage_incubation_time > 95 %}
                                    <span class="red" style="width: {{company.get_percentage_incubation_time}}%">{{company.get_percentage_incubation_time}}%</span>
                                {% elif company.get_percentage_incubation_time > 70 %}
                                    <span class="yellow" style="width: {{company.get_percentage_incubation_time}}%">{{company.get_percentage_incubation_time}}%</span>
                                {% else %}
                                    <span class="green" style="width: {{company.get_percentage_incubation_time}}%">{{company.get_percentage_incubation_time}}%</span>
                                {% endif %}
                            </div>
                            <div align="center">{% trans "Time spent" %} : {{company.get_percentage_incubation_time}}%</div>
                        </div>
                    </div>
            {% endif %}
        </div>
    </div>
    {% if company.description != "" %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Value proposition" %}</h3></div>
        <div class="panel-body text-justify">
            {{ company.description }}
        </div>
    </div>
    {% endif %}
    {% if company.video != "" %}
    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Video pitch" %}</h3></div>
        <div class="panel-body text-center">
                {% video company.video as my_video %}
                    {{ my_video|embed:'medium' }}
                {% endvideo %}
        </div>
    </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Founders" %}</h3></div>
        <div class="panel-body">
            {% if company.founders.all %}
                <div class="row">
                {% for founder in company.founders.all %}
                    <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                        <a href="{% url 'founder:detail' founder.pk %}">
                            {% if founder.picture != "" %}
                                <img class="avatar" src="/media/{{ founder.picture }}" style="height:100%; max-width: 100%;"/><br>
                            {% else %}
                                <img class="avatar" src="/media/user_profile/default.jpg" style="height:100%; max-width: 100%;"/><br>
                            {% endif %}

                            {{ founder.user.first_name }} {{ founder.user.last_name }}
                        </a>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="row" style="margin-bottom: 50px;">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% else %}
                <p>{% trans "No founders found" %}</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Mentors" %}</h3></div>
        <div class="panel-body">
            {% if company.mentors.all %}
                <div class="row">
                    {% for mentor in company.mentors.all %}
                        <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                            <a href="{% url 'mentor:detail' mentor.pk %}">
                                {% if mentor.picture != "" %}
                                    <img class="avatar" src="/media/{{ mentor.picture }}" style="height:100%; max-width: 100%;" /><br>
                                {% else %}
                                    <img class="avatar" src="/media/user_profile/default.jpg" style="height:100%; max-width: 100%;" /><br>
                                {% endif %}
                                {{ mentor.user.first_name }} {{ mentor.user.last_name }}
                            </a><br/>
                            {{ mentor.get_type }}
                        </div>
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="row" style="margin-bottom: 50px;">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>{% trans "No mentors found" %}</p>
            {% endif %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Room rental" %}</h3></div>
        <div class="panel-body">
        {% if rentals %}
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
                <tr>
                    <th>{% trans "Room" %}</th>
                    <th>{% trans "Start date" %}</th>
                    <th>{% trans "End date" %}</th>
                    {% if isCentech == True %}
                    <th>{% trans "Modify" %}</th>
                    <th>{% trans "Delete" %}</th>
                    {% endif %}
                </tr>
                {% for rental in rentals %}
                    <tr>
                        {% if rental.room.code %}
                            <td>{{ rental.room.code }}</td>
                        {% else %}
                            <td>{{ rental.room.static_label }}</td>
                        {% endif %}
                        <td>{{ rental.date_start }}</td>
                        <td>{{ rental.date_end }}</td>
                        {% if isCentech == True %}
                        <td><a href="{% url 'floorMap:rental_update' rental.id %}">{% trans "Modify" %}</a></td>
                        <td><a href="{% url 'floorMap:rental_delete' rental.id %}">{% trans "Delete" %}</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans "No room rentals found" %}</p>
        {% endif %}
        {% if isCentech == True %}
            <p><a href="{% url 'floorMap:rental_create' company.id %}" class="btn btn-primary" style="margin:0">{% trans "New rental" %}</a></p>
        {% endif %}
        </div>
    </div>
{% endblock %}