{% extends "dashboard.html" %}

{% load embed_video_tags %}
{% load staticfiles %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block content %}
    {% if isCentech %}
    <div class="row" style="margin-bottom: 20px;">
        <a href="{% url 'company:update' company.id %}" style="color: white;">
            <div class="col-sm-12" align="center" style="border: 1px solid lightgrey; border-top: none; background-color: #293846;">
                {% trans "Modify this company" %}
            </div>
        </a>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12" align="center">
            <div>
                {% if company.logo != "" %}
                    <img class="logo" src="/media/{{ company.logo }}" /><br>
                {% else %}
                    <img class="logo" src="/media/logo/default.jpg" /><br>
                {% endif %}
                <h1><strong>{{ company.name }}</strong></h1>

                {% if company.facebook %}
                    <a href="{{company.facebook}}"><i class="fa fa-facebook-square fa-3x"></i></a>
                {% endif %}
                {% if company.twitter %}
                    <a href="{{company.twitter}}"><i class="fa fa-twitter-square fa-3x"></i></a>
                {% endif %}
                {% if company.googlePlus %}
                    <a href="{{company.googlePlus}}"><i class="fa fa-google-plus-square fa-3x"></i></a>
                {% endif %}
                {% if company.linkedIn %}
                    <a href="{{company.linkedIn}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
                {% endif %}
                <br><br>

                {% trans "Incubation phase" %} : {{ company.companyStatus }}<br>
                {% if company.url != "" %}
                {% trans "Web site" %} : <a href="{{ company.url }}">{{ company.url }}</a>
                {% endif %}
                <br><br>
            </div>
        </div>
    </div>
    <div class="well well-lg" style="background-color: #87cefa">
     <div class="row">
        <div class="col-sm-12" align="center" style="text-align: justify;">
            <h2 align="center"><strong>{% trans "About" %}</strong></h2>
                <!--TODO Add a markdown system-->
                <p>{{ company.description }}</p>
        </div>
         </div>
    </div>
    {% if company.video != "" %}
    <div class="well well-lg" style="background-color: gold">
     <div class="row">
        <div class="col-sm-12" align="center">
            <h2 align="center"><strong>{% trans "Video pitch" %}</strong></h2>
                {% video company.video as my_video %}
                    {{ my_video|embed:'medium' }}
                {% endvideo %}
        </div>
         </div>
    </div>
    {% endif %}
    <div class="well well-lg" style="background-color: lightgreen">
        <h2 align="center"><strong>{% trans "Founders" %}</strong></h2>
        {% if company.founders.all %}
            <div class="row">
            {% for founder in company.founders.all %}
            <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                <a href="{% url 'founder:detail' founder.pk %}">
                    {% if founder.picture != "" %}
                        <img class="avatar" src="/media/{{ founder.picture }}" style="height:100%; max-width: 100%;"/><br>
                    {% else %}
                        <img class="avatar" src="/media/user_profile/default.jpg" style="height:100%; max-width: 100%;"/><br>
                    {% endif %}

                    {{ founder.user.first_name }} {{ founder.user.last_name }}
                </a>
                <br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                <div class="row" style="margin-bottom: 50px;">
                </div>
            {% endif %}
            {% endfor %}
            </div>

        {% else %}
            <p>{% trans "No founders exist." %}</p>
        {% endif %}
    </div>
    <div class="well well-lg" style="background-color: #87cefa">
        <h2 align="center"><strong>{% trans "Mentors" %}</strong></h2>
        {% if company.mentors.all %}
        <div class="row">
            {% for mentor in company.mentors.all %}

            <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                <a href="{% url 'mentor:detail' mentor.pk %}">
                    {% if mentor.picture != "" %}
                        <img class="avatar" src="/media/{{ mentor.picture }}" style="height:100%; max-width: 100%;" /><br>
                    {% else %}
                        <img class="avatar" src="/media/user_profile/default.jpg" style="height:100%; max-width: 100%;" /><br>
                    {% endif %}
                    {{ mentor.user.first_name }} {{ mentor.user.last_name }}
                </a>
                <br>
            </div>
            {% if forloop.counter|divisibleby:3 %}
            <div class="row" style="margin-bottom: 50px;">
                </div>
            {% endif %}
            {% endfor %}
            </div>
            {% else %}
            <p>{% trans "No mentors exist." %}</p>
        {% endif %}
    </div>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}
