{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}{% trans "Centech Companies" %}{% endblock %}
{% load extras %}

{% block content %}
    <h1>{% trans "Centech Companies" %}</h1>
    <div class="panel panel-default">
        <div class="panel-body well">
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-4">
                        {{ filter.form.as_p }}
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-primary">
                            <i class='fa fa-search'> </i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if filter %}
    <div class="row">
    {% for company in filter %}
        <div class="col-md-4" style="padding: 10px;">
            <div class="panel" style="height: 150px; padding: 10px;">
                <a href="{% url 'company:detail' company.id %}">
                {% if company.logo != "" %}
                    <img src="/media/{{ company.logo }}" class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                {% else %}
                    <img src="/media/logo/default.jpg"  class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                {% endif %}
                <strong>{{ company.name }}</strong>
                </a>
                <br>{% trans "Incubation phase" %} : {{ company.companyStatus }}<br>
            </div>
        </div>
    {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No companies satisfy that query." %}</p>
    {% endif %}
{% endblock %}