{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}{% trans "Centech Companies" %}{% endblock %}
{% load extras %}

{% block content %}
    <h1>{% trans "Centech Companies" %}</h1>
    <div class="panel panel-default">
        <div class="panel-body well">
            <form action="" method="get">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {{ filter.form.as_p }}
                    </div>
                    <div class="col-md-1">
                        <input type="submit" value="filter" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if filter %}
    <div class="row">
    {% for company in filter %}
        <div class="col-md-4" style="height: 150px;">
        <a href="{% url 'company:detail' company.id %}">
        {% if company.logo != "" %}
            <img src="/media/{{ company.logo }}" style="height:70%; max-width: 100%;"/><br>
        {% else %}
            <img src="/media/logo/default.jpg" style="height:70%; max-width: 100%;"/><br>
        {% endif %}
        <strong>{{ company.name }}</strong>
        </a>
        <br>{% trans "incubation phase:" %} {{ company.companyStatus }}<br>
        </div>
        {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row" style="margin-bottom: 30px;">
        {%endif%}
    {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No companies satisfy that query." %}</p>
    {% endif %}
{% endblock %}