{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Presence" %}{% endblock %}
{% block content %}
{% if isCentech %}
    <h1>{% trans "New presence" %}</h1>
    <form method="post">{% csrf_token%}
        <!--TODO add a datepicker-->
        {{ form.as_p }}
        {% trans"Format of the date: dd/mm/yyyy HH:MM" %} <br><br>
        <button type="submit">{% trans "Save" %}</button>
    </form>
{% endif %}
{% endblock %}