{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{founder.user.first_name}} {{founder.user.last_name}} - {% trans "Details" %}{% endblock %}

{% block content %}
    {% if isCentech %}
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuCompany" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {% trans "Actions on this founder" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuCompany">
            <li><a href="{% url 'founder:update' founder.userProfile_id %}">{% trans "Modify this founder" %}</a></li>
        </ul>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-sm-12" align="center">
            <br>
            {% if founder.picture != "" %}
                <img class="avatar thumbnail" src="/media/{{ founder.picture }}" />
            {% else %}
                <img class="avatar thumbnail" src="/media/user_profile/default.jpg" />
            {% endif %}
            <h1><strong>{{ founder.user.first_name }} {{ founder.user.last_name }}</strong></h1>
            {% if founder.facebook %}
                <a href="{{founder.facebook}}"><i class="fa fa-facebook-square fa-3x"></i></a>
            {% endif %}
            {% if founder.twitter %}
                <a href="{{founder.twitter}}"><i class="fa fa-twitter-square fa-3x"></i></a>
            {% endif %}
            {% if founder.googlePlus %}
                <a href="{{founder.googlePlus}}"><i class="fa fa-google-plus-square fa-3x"></i></a>
            {% endif %}
            {% if founder.linkedIn %}
                <a href="{{founder.linkedIn}}"><i class="fa fa-linkedin-square fa-3x"></i></a>
            {% endif %}
            <br><br>

            {% if founder.phone != "" %}
                <b>{% trans "Phone" %} : </b> {{ founder.phone }}<br>
            {% endif %}
            {% if founder.website != "" %}
                <b>{% trans "Web site" %} : </b> <a href="{{ founder.website }}">{{ founder.website }}</a><br>
            {% endif %}
            <br><br>
        </div>
    </div>

    {%if founder.about != "" %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{% trans "About" %}</h3></div>
            <div class="panel-body text-justify">
                {{ founder.about }}
            </div>
        </div>
    {% endif %}

    {%if founder.expertise.all%}
        <div class="panel panel-default">
            <div class="panel-heading"><h3>{% trans "Areas of expertise" %}</h3></div>
            <div class="panel-body text-justify">
                <ul>
                {% for expertise in founder.expertise.all %}
                    <li>{{ expertise.expertise }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading"><h3>{% trans "Companies" %}</h3></div>
        <div class="panel-body text-justify">
            {% if companies %}
                <div class="row">
                {% for company in companies %}
                    <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                        <a href="{% url 'company:detail' company.pk %}">
                            {% if company.logo != "" %}
                                <img class="avatar" src="/media/{{ company.logo }}" style="height:100%; max-width: 100%;"/><br>
                            {% else %}
                                <img class="avatar" src="/media/logo/default.jpg" style="height:100%; max-width: 100%;"/><br>
                            {% endif %}

                            {{ company.name }}
                        </a><br>
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                        <div class="row" style="margin-bottom: 50px;">
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <p>{% trans "No companies found" %}</p>
        {% endif %}
        </div>
    </div>
{% endblock %}
