{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Centech Founders" %}{% endblock %}
{% load extras %}

{% block content %}
    <h1>{% trans "Centech Founders" %}</h1>
    <a href="{% url 'founder:add' %}" class="btn btn-primary btn-xs">
        <i class="fa fa-plus"></i> {% trans "New founder" %}
    </a>
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="{% url 'founder:index' %}" method="get">
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_form filter.form %}
                        <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i> {% trans "Search" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if is_paginated %}
        <div class="row" style="font-size:16px; margin-bottom: 50px; background-color:#19aa8d; color: white;" align="center">
            <div class="col-md-1">

                {% if page_obj.number != 1 %}
                    <a style="color:white;" href="{% url 'founder:index' 1 %}{{get}}">
                        1
                    </a>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% if page_obj.has_previous %}
                    <a style="color:white;" href="{% url 'founder:index' page_obj.previous_page_number %}{{get}}">
                        {% trans "Previous" %}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-2">
                Page N°{{page_obj.number}}
            </div>
            <div class="col-md-4">
                {% if page_obj.has_next%}
                    <a style="color:white;" href="{% url 'founder:index' page_obj.next_page_number %}{{get}}">
                        {% trans "Next" %}
                    </a>
                {% endif %}
            </div>
            <div class="col-md-1">
                {%if page_obj.number != page_obj.paginator.num_pages%}
                <a style="color:white;" href="{% url 'founder:index' page_obj.paginator.num_pages %}{{get}}">
                    {{page_obj.paginator.num_pages}}
                </a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if founder_list %}
        <div class="row">
        {% for founder in founder_list %}
            <div class="col-md-3" style="padding: 10px;">
                <div class="panel panel-default" style="height: 150px; padding: 10px;">
                    <a href="{% url 'founder:detail' founder.pk %}">
                        {% if founder.picture != "" %}
                        <img src="/media/{{ founder.picture }}" class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                        {% else %}
                        <img src="/media/user_profile/default.jpg"  class="thumbnail" style="margin-bottom: 0px; height:70%; max-width: 100%;"/>
                        {% endif %}
                        <strong>{{ founder.user.first_name }} {{ founder.user.last_name }}</strong>
                    </a><br/>
                    {% trans "Founder" %}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No founders found" %}</p>
    {% endif %}
{% endblock %}