{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}{% trans "Centech Founders" %}{% endblock %}
{% load extras %}

{% block content %}
    <h1>{% trans "Centech Founders" %}</h1>
    <div class="panel panel-default">
        <div class="panel-body well">
            <form action="{% url 'founder:index' %}" method="get">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {{ filter.form.as_p }}
                    </div>
                    <div class="col-md-1">
                        <input type="submit" value="filter" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if founder_list %}
        <div class="row" style="margin-bottom: 50px;">
        {% for founder in founder_list %}
                <div class="col-md-4" style="height: 150px; margin-bottom: 30px;">
                    <a href="{% url 'founder:detail' founder.pk %}">
                    {% if founder.picture != "" %}
                    <img src="/media/{{ founder.picture }}" style="height:100%; max-width: 100%;"/><br>
                    {% else %}
                    <img src="/media/user_profile/default.jpg" style="height:100%; max-width: 100%;"/><br>
                    {% endif %}
                    <strong>{{ founder.user.first_name }} {{ founder.user.last_name }}</strong>
                    </a>
                    <br>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row" style="margin-bottom: 50px;">
                {%endif%}
        {% endfor %}
        </div>
    {% else %}
        <p>{% trans "No founders exist." %}</p>
    {% endif %}
    <div class="pagination">
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'founder:index' page_obj.previous_page_number %}{{get}}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'founder:index' page_obj.next_page_number %}{{get}}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}