{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Stock exchanges" %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <h1>{% trans "Stock exchanges" %}</h1>
    <form method="post">{% csrf_token%}
        {{ form.as_p }}
        <input type="submit" value="Submit"/>
    </form>

    <script>
        $( "#id_dateSoumission" ).datepicker({ dateFormat: 'dd/mm/yy' });
        $( "#id_dateReception" ).datepicker({ dateFormat: 'dd/mm/yy' });
    </script>
{% endblock %}