{% extends "dashboard.html" %}

<!-- Load internationalisation utils-->
{% load i18n %}

{% load staticfiles %}

{% block title %}{% trans "Finance" %}{% endblock %}

{% load bootstrap3 %}

{% block extrahead %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <form method="post">{% csrf_token%}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
            <button type="reset" class="btn">
                {% trans "Reset" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        $( "#id_dateSoumission" ).datepicker({ dateFormat: 'yy-mm-dd' });
        $( "#id_dateReception" ).datepicker({ dateFormat: 'yy-mm-dd' });

        jQuery.each($("select[multiple]"), function () {
        // "Locations" can be any label you want
        SelectFilter.init(this.id, "Locations", 0, "/media/");
        });
    </script>
{% endblock %}