{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load embed_video_tags %}

{% block title %}{{company}} - {% trans "Finance" %}{% endblock %}

{% load staticfiles %}

{% block content %}
    <!--TODO Check for autogenerate the page-->
    <div class="row" id="menu-sommaire">
        <div class="col-sm-12" align="center">
            <br>
            <h1>{% trans "Finance of" %} {{ company.name }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" align="center">
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <a class="btn btn-danger" href="#menu-general">{% trans "Overview" %}</a>
                <a class="btn btn-danger" href="#menu-bourses">{% trans "Grants" %}</a>
                <a class="btn btn-danger" href="#menu-subventions">{% trans "Subsidies" %}</a>
                <a class="btn btn-danger" href="#menu-investissements">{% trans "Investments" %}</a>
                <a class="btn btn-danger" href="#menu-prets">{% trans "Loans" %}</a>
                <a class="btn btn-danger" href="#menu-ventes">{% trans "Sales" %}</a>
            </div>
        </div>
    </div>

    <!--- VUE GENERALE --->
    <h2 id="menu-general">{% trans "Overview" %}</h2>
    <div class="row">
        <div class="col-sm-12" align="center">
            <div id="overview" style="height: 300px;"></div>
            </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>

    <!-- BOURSES --->
    <h2 id="menu-bourses" style="margin-top: 50px;">{% trans "Grants" %}</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" align="center">
            <div id="bourses" style="height: 300px;"></div>
        </div>
        <div class="col-sm-9" align="center">
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date of submission" %}</th>
            <th>{% trans "Amount requested" context "Féminin" %}</th>
            <th>{% trans "Date of reception" %}</th>
            <th>{% trans "Amount received" context "Féminin" %}</th>
            {% if isFounder or isCentech %}
            <th>{% trans "Modify" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}

        </tr>
        {% for bourse in bourses %}
            <tr>
                <td>{{ bourse.name }}</td>
                <td>{{ bourse.dateSoumission }}</td>
                <td>{{ bourse.sommeSoumission }} $</td>
                {% if bourse.dateReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ bourse.dateReception }}</td>
                {% endif %}
                {% if bourse.sommeReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ bourse.sommeReception }} $</td>
                {% endif %}
                {% if isFounder or isCentech %}
                <td><a href="{% url 'finance:bourse_update' bourse.id %}">{% trans "Modify" %}</a></td>
                <td><a href="{% url 'finance:bourse_delete' bourse.id %}">{% trans "Delete" %}</a></td>
                {% endif %}
            </tr>
            {% if bourse.description != None %}
                {% if bourse.description != "" %}
                <tr>
                    <td colspan="7">
                        <i class="fa fa-arrow-circle-o-down"></i> {{bourse.description}}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% if isFounder or isCentech %}
    <a href="{% url 'finance:bourse_add' company.id %}">{% trans "New grant" %}</a>
    {% endif %}
        </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>

    <!-- SUBVENTIONS -->
    <h2 id="menu-subventions" style="margin-top: 50px;">{% trans "Subsidies" %}</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" align="center">
            <div id="subventions" style="height: 300px;"></div>
        </div>
        <div class="col-sm-9" align="center">
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date of submission" %}</th>
            <th>{% trans "Amount requested" context "Féminin" %}</th>
            <th>{% trans "Date of reception" %}</th>
            <th>{% trans "Amount received" context "Féminin" %}</th>
            {% if isFounder or isCentech %}
            <th>{% trans "Modify" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}

        </tr>
        {% for subvention in subventions %}
            <tr>
                <td>{{ subvention.name }}</td>
                <td>{{ subvention.dateSoumission }}</td>
                <td>{{ subvention.sommeSoumission }} $</td>
                {% if subvention.dateReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ subvention.dateReception }}</td>
                {% endif %}
                {% if subvention.sommeReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ subvention.sommeReception }} $</td>
                {% endif %}
                {% if isFounder or isCentech %}
                <td><a href="{% url 'finance:subvention_update' subvention.id %}">{% trans "Modify" %}</a></td>
                <td><a href="{% url 'finance:subvention_delete' subvention.id %}">{% trans "Delete" %}</a></td>
                {% endif %}
            </tr>
            {% if subvention.description != None %}
                {% if subvention.description != "" %}
                <tr>
                    <td colspan="7">
                        <i class="fa fa-arrow-circle-o-down"></i> {{subvention.description}}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% if isFounder or isCentech %}
    <a href="{% url 'finance:subvention_add' company.id %}">{% trans "New subsidy" %}</a>
    {% endif %}
        </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>

    <!--- INVESTISSEMENTS -->
    <h2 id="menu-investissements" style="margin-top: 50px;">{% trans "Investments" %}</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" align="center">
            <div id="investissements" style="height: 300px;"></div>
        </div>
        <div class="col-sm-9" align="center">
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date of submission" %}</th>
            <th>{% trans "Amount requested" %}</th>
            <th>{% trans "Date of reception" %}</th>
            <th>{% trans "Amount received" %}</th>
            {% if isFounder or isCentech %}
            <th>{% trans "Modify" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}

        </tr>
        {% for investissement in investissements %}
            <tr>
                <td>{{ investissement.name }}</td>
                <td>{{ investissement.dateSoumission }}</td>
                <td>{{ investissement.sommeSoumission }} $</td>
                {% if investissement.dateReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ investissement.dateReception }}</td>
                {% endif %}
                {% if investissement.sommeReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ investissement.sommeReception }} $</td>
                {% endif %}
                {% if isFounder or isCentech %}
                <td><a href="{% url 'finance:investissement_update' investissement.id %}">{% trans "Modify" %}</a></td>
                <td><a href="{% url 'finance:investissement_delete' investissement.id %}">{% trans "Delete" %}</a></td>
                {% endif %}
            </tr>
            {% if investissement.description != None %}
                {% if investissement.description != "" %}
                <tr>
                    <td colspan="7">
                        <i class="fa fa-arrow-circle-o-down"></i> {{investissement.description}}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% if isFounder or isCentech %}
    <a href="{% url 'finance:investissement_add' company.id %}">{% trans "New investment" %}</a>
    {% endif %}
        </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>


    <!-- PRETS -->
    <h2 id="menu-prets" style="margin-top: 50px;">{% trans "Loans" %}</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" align="center">
            <div id="prets" style="height: 300px;"></div>
        </div>
        <div class="col-sm-9" align="center">
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date of submission" %}</th>
            <th>{% trans "Amount requested" %}</th>
            <th>{% trans "Date of reception" %}</th>
            <th>{% trans "Amount received" %}</th>
            {% if isFounder or isCentech %}
            <th>{% trans "Modify" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}

        </tr>
        {% for pret in prets %}
            <tr>
                <td>{{ pret.name }}</td>
                <td>{{ pret.dateSoumission }}</td>
                <td>{{ pret.sommeSoumission }} $</td>
                {% if pret.dateReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ pret.dateReception }}</td>
                {% endif %}
                {% if pret.sommeReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ pret.sommeReception }} $</td>
                {% endif %}
                {% if isFounder or isCentech %}
                <td><a href="{% url 'finance:pret_update' pret.id %}">{% trans "Modify" %}</a></td>
                <td><a href="{% url 'finance:pret_delete' pret.id %}">{% trans "Delete" %}</a></td>
                {% endif %}
            </tr>
            {% if pret.description != None %}
                {% if pret.description != "" %}
                <tr>
                    <td colspan="7">
                        <i class="fa fa-arrow-circle-o-down"></i> {{pret.description}}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% if isFounder or isCentech %}
    <a href="{% url 'finance:pret_add' company.id %}">{% trans "New loan" %}</a>
    {% endif %}
        </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>


    <!-- VENTES -->
    <h2 id="menu-ventes" style="margin-top: 50px;">{% trans "Sales" %}</h2>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-3" align="center">
            <div id="ventes" style="height: 300px; margin-bottom: 50px;"></div>
        </div>
        <div class="col-sm-9" align="center">
            <table cellpadding="0" cellspacing="0" class="table table-bordered">
        <tr>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Date ODS" %}</th>
            <th>{% trans "Amount ODS" %}</th>
            <th>{% trans "Date of reception" %}</th>
            <th>{% trans "Amount received" context "Féminin" %}</th>
            {% if isFounder or isCentech %}
            <th>{% trans "Modify" %}</th>
            <th>{% trans "Delete" %}</th>
            {% endif %}

        </tr>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.name }}</td>
                <td>{{ vente.dateSoumission }}</td>
                <td>{{ vente.sommeSoumission }} $</td>
                {% if vente.dateReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ vente.dateReception }}</td>
                {% endif %}
                {% if vente.sommeReception == None %}
                <td>{% trans "In waiting" %}</td>
                {% else %}
                <td>{{ vente.sommeReception }} $</td>
                {% endif %}
                {% if isFounder or isCentech %}
                <td><a href="{% url 'finance:vente_update' vente.id %}">{% trans "Modify" %}</a></td>
                <td><a href="{% url 'finance:vente_delete' vente.id %}">{% trans "Delete" %}</a></td>
                {% endif %}
            </tr>
            {% if vente.description != None %}
                {% if vente.description != "" %}
                <tr>
                    <td colspan="7">
                        <i class="fa fa-arrow-circle-o-down"></i> {{vente.description}}
                    </td>
                </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    </table>
    {% if isFounder or isCentech %}
    <a href="{% url 'finance:vente_add' company.id %}">{% trans "New sale" %}</a>
    {% endif %}
        </div>
    </div>
    <a href="#menu-sommaire">{% trans "Return to the top of the page" %}</a>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        function drawcharts() {

            var dataOverview = google.visualization.arrayToDataTable([
                ['Type de financement', '{% trans "Requested" %}', '{% trans "Received" %}'],
                ['{% trans "Grants" %}', {{totalBoursesSoumises}}, {{totalBoursesRecues}}],
                ['{% trans "Subsidies" %}', {{totalSubventionsSoumises}}, {{totalSubventionsRecues}}],
                ['{% trans "Investments" %}', {{totalInvestissementsSoumis}}, {{totalInvestissementsRecus}}],
                ['{% trans "Loans" %}', {{totalPretsSoumis}}, {{totalPretsRecus}}],
                ['{% trans "Sales" %}', {{totalVentesSoumises}}, {{totalVentesRecues}}]
            ]);

            var dataBourses = google.visualization.arrayToDataTable([
                ['', '{% trans "Requested" %}', '{% trans "Received" %}'],
                ['{% trans "Grants" %}', {{totalBoursesSoumises}}, {{totalBoursesRecues}}]
            ]);

            var dataSubventions = google.visualization.arrayToDataTable([
                ['', '{% trans "Requested" %}', '{% trans "Received" %}'],
                ['{% trans "Subsidies" %}', {{totalSubventionsSoumises}}, {{totalSubventionsRecues}}]
            ]);

            var dataInvestissements = google.visualization.arrayToDataTable([
                ['', '{% trans "Requested" %}', '{% trans "Received" %}'],
                ['{% trans "Investments" %}', {{totalInvestissementsSoumis}}, {{totalInvestissementsRecus}}]
            ]);

            var dataPrets = google.visualization.arrayToDataTable([
                ['', '{% trans "Requested" %}', '{% trans "Received" %}'],
                ['{% trans "Loans" %}', {{totalPretsSoumis}}, {{totalPretsRecus}}]
            ]);

            var dataVentes = google.visualization.arrayToDataTable([
                ['', '{% trans "Service offering" %}', '{% trans "Received" %}'],
                ['{% trans "Sales" %}', {{totalVentesSoumises}}, {{totalVentesRecues}}]
            ]);

            var options = {
                backgroundColor : 'none',
                colors: ['#4285F4', '#56cc32'],
                vAxis: {
                    minValue: 0,
                    viewWindow:{
                        min:0
                    }
                }
            };

            var chartOverview = new google.visualization.ColumnChart(document.getElementById('overview'));
            chartOverview.draw(dataOverview, options);

            var chartBourses = new google.visualization.ColumnChart(document.getElementById('bourses'));
            chartBourses.draw(dataBourses, options);

            var chartSubventions = new google.visualization.ColumnChart(document.getElementById('subventions'));
            chartSubventions.draw(dataSubventions, options);

            var chartInvestissements = new google.visualization.ColumnChart(document.getElementById('investissements'));
            chartInvestissements.draw(dataInvestissements, options);

            var chartPrets = new google.visualization.ColumnChart(document.getElementById('prets'));
            chartPrets.draw(dataPrets, options);

            var chartVentes = new google.visualization.ColumnChart(document.getElementById('ventes'));
            chartVentes.draw(dataVentes, options);
        }

        google.setOnLoadCallback(drawcharts);
        google.load("visualization", "1", {packages:["corechart"]});
    </script>
{% endblock %}