{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Delete sale" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sale" %}</h1>
    <h1>{% trans "Are you sure you want to delete this sale?" %}</h1>
    <p>
        <span style="font-weight: bold; margin-right: 10px;">{% trans "Name"%} : </span> {{ vente.name }} <br>
        <span style="font-weight: bold; margin-right: 10px;">{% trans "Date of submission" %} : </span> {{ vente.dateSoumission}}<br>
        <span style="font-weight: bold; margin-right: 10px;">{% trans "Amount requested" %} : </span> {{ vente.sommeSoumission}}<br>

        {% if vente.dateReception %}
        <span style="font-weight: bold; margin-right: 10px;">{% trans "Date of reception" %} : </span> {{ vente.dateReception}}<br>
        {% endif %}

        {% if vente.sommeReception %}
        <span style="font-weight: bold; margin-right: 10px;">{% trans "Amount received" %} : </span> {{ vente.sommeReception}}<br>
        {% endif %}
    </p>


    <form method="post" action="">
        {% csrf_token %}
        <button type="submit">{% trans "Delete" %}</button> - <a href="{% url 'finance:detail_finance' companyId %}">{% trans "Cancel" %}</a>
    </form>
{% endblock %}