{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load i18n %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'kanboard/kanboard.css' %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'kanboard/js/resize_board.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-ui-1.7.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/initSortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/createCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/initKanboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/addCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/editCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/deleteCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/refreshCard.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/tokenCSRF.js' %}"></script>

    <!--DATEPICKER-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        $(function() {
            //Populate the kanboard
            initKanboard("{% url "kanboard:getDetailKanboard" 1 %}",
                        {{company.id}},
                        "{% url "kanboard:kanboardGetDetailCard" 1 %}",
                        "{% url "kanboard:kanboardDeleteCard" 1 %}",
                        "{% url "founder:detail" 1 %}",
                        "{{user.username}}"
                        );

            //Init the form
            var dialog, form,

            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 500,
                width: 350,
                modal: true,
                buttons: {
                    "Create": function() {
                        if(document.getElementById("title").value != ""){
                            addCard('{% url "kanboard:kanboard" 1 %}',
                                    "{% url "kanboard:kanboardGetDetailCard" 1 %}",
                                    {{company.id}},
                                    "{% url "kanboard:kanboardDeleteCard" 1 %}",
                                    "{% url 'founder:detail' 1 %}",
                                    "{{user.username}}"
                                    );

                            dialog.dialog( "close" );
                            document.getElementById("title").style.border = "1px solid #a9a9a9";
                        }
                        else{
                            document.getElementById("title").style.border = "1px solid red";
                        }
                    },
                    Cancel: function() {
                        dialog.dialog( "close" );
                    }
                },
                close: function() {
                    form[ 0 ].reset();
                    document.getElementById('update').value = "False";
                }
            });

            form = dialog.find( "form" );

            $( "#create-card" ).click(function() {
                dialog.dialog( "open" );
            });

        });
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans "Kanboard of" %} {{company.name}}</h1><br><br>

    <!-- Form for the Kanboard -->
    <div id="dialog-form" title="Create new task">
        <form id="form">{% csrf_token %}
            <fieldset>
                {{ form.as_p }}

                <input type="hidden" name="update" value="False" id="update" >
            </fieldset>
        </form>
    </div>
    <button id="create-card">{% trans "Create new task" %}</button><br><br>

    <!-- The Kanboard populate in Ajax -->
    <div id="board"></div>

    <!-- Datepicker JQuery -->
    <script>
            $( "#deadline" ).datepicker({ dateFormat: 'yy-mm-dd' });
    </script>
{% endblock %}
