{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{company}} - {% trans "Kanboard" %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'kanboard/kanboard.css' %}" type="text/css" media="all" />
    <script type="text/javascript" src="{% static 'kanboard/js/resize_board.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-ui-1.7.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/initSortable.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/createCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/initKanboard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/addCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/editCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/deleteCard.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/refreshCard.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/TokenCSRF.js' %}"></script>

    <!--DATEPICKER-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script>
        function setButtonOfForm(label){
            $('#dialog-form').dialog('option', 'buttons', [
            {
                text: label,
                click: function() {
                        if(document.getElementById("title").value != ""){
                            addCard('{% url "kanboard:kanboard" 1 %}',
                                    "{% url "kanboard:kanboardGetDetailCard" 1 %}",
                                    {{company.id}},
                                    "{% url "kanboard:kanboardDeleteCard" 1 %}",
                                    "{% url 'founder:detail' 1 %}",
                                    "{{user.username}}",
                                    '{% url 'kanboard:card' 1 %}'
                                    );
                            $('#dialog-form').dialog( "close" );
                            document.getElementById("title").style.border = "1px solid #a9a9a9";
                        }
                        else{
                            document.getElementById("title").style.border = "1px solid red";
                        }
                    }
            },
            {
                text: '{% trans "Cancel" %}',
                click: function() { $('#dialog-form').dialog('close'); }
            }]);
        }
    </script>
    <script>
        $(function() {
            initKanboard('{% url 'kanboard:getDetailKanboard' company.id True %}',
                        {{company.id}},
                        '{% url 'kanboard:kanboardGetDetailCard' 1 %}',
                        '{% url 'kanboard:kanboardDeleteCard' 1 %}',
                        '{% url 'founder:detail' 1 %}',
                        '{{user.username}}',
                        'True',
                        '{% url 'kanboard:card' 1 %}'
                        );

            //Init the form
            var dialog, form,

            dialog = $( "#dialog-form" ).dialog({
                autoOpen: false,
                height: 500,
                width: 350,
                modal: true,
                close: function() {
                    //Init the form
                    form[ 0 ].reset();
                    document.getElementById('update').value = "False";

                    //Init the title of the form
                    var titleForm = document.getElementById('ui-id-1');
                    titleForm.innerHTML = "{% trans 'Create new task' %}";

                    //Init button of the form
                    setButtonOfForm("{% trans "Create" %}");
                }
            });

            setButtonOfForm("{% trans "Create" %}");

            form = dialog.find( "form" );

            $( "#create-card" ).click(function() {
                dialog.dialog( "open" );
            });

        });
    </script>
{% endblock %}

{% block content %}
    <h1>{% trans "Kanboard of" %} {{company.name}}</h1><br><br>

    <!-- Form for the Kanboard -->
    <div id="dialog-form" title="{% trans 'Create new task' %}">
        <form id="form">{% csrf_token %}
            <fieldset>
                {{ form.as_p }}

                <input type="hidden" name="update" value="False" id="update" >
            </fieldset>
        </form>
    </div>
    <button id="create-card">{% trans "Create new task" %}</button><br><br>

    <select id='State' onchange="initKanboard('{% url 'kanboard:getDetailKanboard' company.id False %}',
                                    {{company.id}},
                                    '{% url 'kanboard:kanboardGetDetailCard' 1 %}',
                                    '{% url 'kanboard:kanboardDeleteCard' 1 %}',
                                    '{% url 'founder:detail' 1 %}',
                                    '{{user.username}}',
                                    this.value,
                                    '{% url 'kanboard:card' 1 %}'
                                    );">
        <option value="true">{% trans "Complete" %}</option>
        <option value="false" selected="selected">{% trans "In progress" %}</option>
        <option value="none">{% trans "All" %}</option>
    </select>

    <!-- The Kanboard populate in Ajax -->
    <div id="board"></div>

    <!-- Datepicker JQuery -->
    <script>
            $( "#deadline" ).datepicker({ dateFormat: 'yy-mm-dd' });
    </script>
{% endblock %}
