{% extends "dashboard.html" %}

{% load embed_video_tags %}
{% load staticfiles %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{card.company}} - {% trans "Kanboard card" %}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-1.3.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'kanboard/js/jquery-ui-1.7.2.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/TokenCSRF.js' %}"></script>

    <script type="text/javascript" src="{% static 'kanboard/js/addComment.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="row">
        {% if card.state == True %}
            <div class="col-sm-12" align="left" style="border: 1px solid black; background-color: #daeddd;">
        {% elif card.is_past_due %}
            <div class="col-sm-12" align="left" style="border: 1px solid black; background-color: #eedada;">
        {% else %}
            <div class="col-sm-12" align="left" style="border: 1px solid black;">
        {% endif %}
            <h1><strong>{{card.title}}</strong></h1>
            {%trans "From" %} <strong>{{card.creator}}</strong>
            {% if card.assigned %}
                {%trans "to" %} <strong><a href="{% url 'founder:detail' card.assigned.userProfile_id%}">{{card.assigned}}</a></strong>
            {% endif %}
            {%trans "since" %} {{card.created|date:"Y/m/d"}}<br>
            {%trans "Due date" %} <strong>{{card.deadline|date:"Y/m/d" }}</strong><br>
            <br>
            <h4>{%trans "Task description" %} : </h4>
            <p style="margin-left: 20px;">{{card.comment}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="listComments">
            <h2>{%trans "Comments" %} : </h2>
            {% for comment in card.comments.all %}
                <div style="padding: 10px; border-bottom:1px dashed black;">
                    {{comment.comment}}<br>{{comment.created|date:"Y/m/d"}} - {{comment.creator}}
                </div>
            {% endfor %}
        </div>
    </div>

    <textarea id='textarea' style="margin-top: 50px; width: 100%;" ></textarea><br>
    <button onclick="addComment('{% url 'kanboard:addComment' 1 %}', {{card.id}});">{%trans "Save" %}</button>
{% endblock %}
