{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{{company}} - {% trans "Archived Business Model Canvas" %}{% endblock %}

{% block extrahead %}
<!-- Main CSS --->
<link rel="stylesheet" href="{% static 'businessCanvas/css/style.css' %}">

<script type="text/javascript" src="{% static 'businessCanvas/js/getDetail.js' %}"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
{% endblock %}

{% block content %}
<!--TODO check for autogenerate the table-->
<div class="row">
    <div class="col-sm-12" align="center">
        <h1>{% trans "Business Model Canvas of " %}{{current_archive.date}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" align="center">
        <table class="canvas_container_table" id="main_table" cellpadding="5" cellspacing="0">
            <tr>
                <td rowspan="2" class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Key Partners" %}</h6>
                    <div id="divKeyPartner">
                        {% for elem in list_key_partners %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="KeyPartner{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}');">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Key Activities" %}</h6>
                    <div id="divKeyActivitie">
                    {% for elem in list_key_activities %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="KeyActivitie{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td rowspan="2" colspan="2" class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Value Proposition" %}</h6>
                    <div id="divValueProposition">
                        {% for elem in list_value_propositions %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="ValueProposition{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Customer Relationships" %}</h6>
                    <div id="divCustomerRelationship">
                        {% for elem in list_customer_relationships %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="CustomerRelationship{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td rowspan="2" class="border-bottom-none" width="20%">
                    <h6>{% trans "Customer Segments" %}</h6>
                    <div id="divCustomerSegment">
                        {% for elem in list_customer_segments %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="CustomerSegment{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-bottom-none border-right-none">
                    <h6>{% trans "Key Resources" %}</h6>
                    <div id="divKeyResource">
                        {% for elem in list_key_resources %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="KeyResource{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-bottom-none border-right-none">
                    <h6>{% trans "Channels" %}</h6>
                    <div id="divChannel">
                        {% for elem in list_channels %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="Channel{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr class="fix_width_section">
                <td colspan="3" class="border-right-none">
                    <h6>{% trans "Cost Structure" %}</h6>
                    <div id="divCostStructure">
                        {% for elem in list_cost_structures %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="CostStructure{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td colspan="3">
                    <h6>{% trans "Revenue Streams" %}</h6>
                    <div id="divRevenueStream">
                        {% for elem in list_revenue_streams %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="RevenueStream{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height: 50px; border: none;">
                 </td>
            </tr>
            <tr id="brain_storming_section">
                <td colspan="5">
                    <h6>{% trans "Brainstorming Space" %}</h6>
                    <div id="divBrainstormingSpace">
                        {% for elem in list_brainstorming_spaces %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                <span class="BrainstormingSpace{{elem.id}}" onclick="getDetail(this.className, '{% url 'businessCanvas:businessCanvasGetDetail' 1 %}')">{{elem.title}}</span>
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td colspan="1">
                    <h6>{% trans "Archive" %}</h6>
                        {% for archive in archives %}
                            <div style="border-bottom: 1px dashed black; padding-left: 10px;"><a href="{% url 'businessCanvas:businessCanvasElementArchived_list' archive.id %}">{{archive}}</a></div>
                        {% endfor %}
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}