{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load staticfiles %}

{% block title %}{{company}} - {% trans "Business Model Canvas" %}{% endblock %}

{% block extrahead %}

<!-- JS for use JQUERY --->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<!-- JS for Business Model Canvas --->
<script type="text/javascript" src="{% static 'businessCanvas/js/deleteElement.js' %}"></script>
<script type="text/javascript" src="{% static 'businessCanvas/js/editElement.js' %}"></script>
<script type="text/javascript" src="{% static 'businessCanvas/js/getDetail.js' %}"></script>
<script type="text/javascript" src="{% static 'businessCanvas/js/deleteArchive.js' %}"></script>
<script type="text/javascript" src="{% static 'businessCanvas/js/archiver.js' %}"></script>
<script type="text/javascript" src="{% static 'businessCanvas/js/updateDisplayForm.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tokenCSRF.js' %}"></script>

<!-- Main CSS --->
<link rel="stylesheet" href="{% static 'businessCanvas/css/style.css' %}">

<!-- Initialisation form and submit-form --->
<script type="text/javascript">
//AJAX requete
	$(document).ready(function(){
	    //For hide all form at the begin
        updateDisplayForm();

        // Form to add an element with type POST in AJAX
        $(".form").submit( function() {
            var donnees = $(this).serialize();
            $.ajax({
                type: this.method,
                url: '{% url "businessCanvas:businessCanvasAddElement" %}',
                data: donnees + '&type=' + this.id + '&company=' + {{company_id}},

                success: function(data) {
                    //Delete content of the form
                    form = document.getElementById(data.type);
                    form.reset();

                    //We create the new div for the new element
                    if(data.updated == "False"){

                        //<div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                        //  <span class="Channel{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                        //  <span style="float: right;" class="Channel{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                        //  <span style="float: right;" class="Channel{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                        //  <p style="visibility: hidden; display: none;"></p>
                        //</div>

                        //The div of the element
                        var div = document.createElement('div');
                        div.id = data.id;
                        div.className = 'element';
                        div.style.borderBottom = "1px dashed black";

                        //The span of color
                        var spanColor = document.createElement('span');
                        spanColor.className = 'colorElement';
                        spanColor.style.color = "green";

                        //The span of the title
                        var spanTitle = document.createElement('span');
                        spanTitle.className = data.type+data.id;
                        spanTitle.setAttribute('onclick','getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")')
                        spanTitle.innerHTML = data.title;

                        //The span of delete
                        var spanDelete = document.createElement('span');
                        spanDelete.className = data.type+data.id;
                        spanDelete.setAttribute('onclick','deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");')
                        spanDelete.innerHTML = "<i class=\"fa fa-trash\"></i>";
                        spanDelete.style.float = "right";

                        //The span of edit
                        var spanEdit = document.createElement('span');
                        spanEdit.className = data.type+data.id;
                        spanEdit.setAttribute('onclick','editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");')
                        spanEdit.innerHTML = "<i class=\"fa fa-pencil-square-o\"></i>";
                        spanEdit.style.float = "right";

                        //The paragraph of comment
                        var p = document.createElement('p');
                        p.style.visibility  = "hidden";
                        p.style.display = "none";

                        spanColor.appendChild(spanTitle)
                        div.appendChild(spanColor);
                        div.appendChild(spanDelete);
                        div.appendChild(spanEdit);
                        div.appendChild(p);
                        document.getElementById('div'+ data.type).appendChild(div);

                        updateDisplayForm();
                    }
                    //We update the div of the updated element
                    else{
                        var div = document.getElementById(data.id);
                        var spanColor = div.getElementsByTagName('span')[0];
                        var color = spanColor.style.color;
                        if(color != "green")
                        {
                            spanColor.style.color = "orange";
                        }
                        var spanTitle = div.getElementsByTagName('span')[1];
                        spanTitle.innerHTML = data.title;

                        var p = div.getElementsByTagName('p')[0];
                        p.style.visibility  = "hidden";
                        p.style.display = "none";

                        updateDisplayForm();
                    }
                },
                error: function(resultat, status, erreur) {
                    alert(erreur);
                }
            });
            return false;
        });
	});
</script>
{% endblock %}

{% block content %}
<!--TODO Check for autogenerate the table-->
<div class="row">
    <div class="col-sm-12" align="center">
        <h1>{% trans "Business Model Canvas" %}</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" align="center">
        {%if is_founder %}
        <div style="border: 1px solid black; padding: 2px; margin-bottom: 20px; margin-top: 10px; background-color: #428bca; color: white; font-size: 20px;" onclick='archiver("{% url "businessCanvas:businessCanvasArchiver" 1 %}", {{company_id}}, "{% url "businessCanvas:businessCanvasElementArchived_list" 1 %}", "{% url "businessCanvas:businessCanvasDeleteArchive" 1 %}");'>Archiver</div>
        {% endif %}
        <table class="canvas_container_table" id="main_table" cellpadding="5" cellspacing="0">
            <tr>
                <td rowspan="2" class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Key Partners" %}
                        {%if is_founder %}
                            <span class="KeyPartner" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divKeyPartner">
                        <form class="form" id="KeyPartner" action="" method="post">{% csrf_token %}
                            {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                            {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                            <input type="hidden" name="update" class="hiddenInput" value="False"/>
                            <input type="submit" value="Envoyer"/>
                        </form>
                        {% for elem in list_key_partners %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="KeyPartner{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'>{{elem.title}}</span>{%if is_founder %}
                                </span>
                                <span style="float: right;" class="KeyPartner{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="KeyPartner{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Key Activities" %}
                        {%if is_founder %}
                            <span class="KeyActivitie" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divKeyActivitie">
                    <form class="form" id="KeyActivitie" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                    {% for elem in list_key_activities %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="KeyActivitie{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="KeyActivitie{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="KeyActivitie{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td rowspan="2" colspan="2" class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Value Proposition" %}
                        {%if is_founder %}
                            <span class="ValueProposition" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divValueProposition">
                    <form class="form" id="ValueProposition" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>

                        {% for elem in list_value_propositions %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="ValueProposition{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="ValueProposition{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="ValueProposition{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-right-none border-bottom-none" width="20%">
                    <h6>{% trans "Customer Relationships" %}
                        {%if is_founder %}
                            <span class="CustomerRelationship" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divCustomerRelationship">
                    <form class="form" id="CustomerRelationship" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_customer_relationships %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="CustomerRelationship{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="CustomerRelationship{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="CustomerRelationship{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td rowspan="2" class="border-bottom-none" width="20%">
                    <h6>{% trans "Customer Segments" %}
                        {%if is_founder %}
                            <span class="CustomerSegment" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divCustomerSegment">
                    <form class="form" id="CustomerSegment" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_customer_segments %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="CustomerSegment{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="CustomerSegment{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="CustomerSegment{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td class="border-bottom-none border-right-none">
                    <h6>{% trans "Key Resources" %}
                        {%if is_founder %}
                            <span class="KeyResource" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divKeyResource">
                    <form class="form" id="KeyResource" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_key_resources %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="KeyResource{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="KeyResource{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="KeyResource{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td class="border-bottom-none border-right-none">
                    <h6>{% trans "Channels" %}
                        {%if is_founder %}
                            <span class="Channel" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divChannel">
                    <form class="form" id="Channel" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_channels %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="Channel{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="Channel{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="Channel{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr class="fix_width_section">
                <td colspan="3" class="border-right-none">
                    <h6>{% trans "Cost Structure" %}
                        {%if is_founder %}
                            <span class="CostStructure" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divCostStructure">
                    <form class="form" id="CostStructure" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_cost_structures %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="CostStructure{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="CostStructure{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="CostStructure{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td colspan="3">
                    <h6>{% trans "Revenue Streams" %}
                        {%if is_founder %}
                            <span class="RevenueStream" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divRevenueStream">
                    <form class="form" id="RevenueStream" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_revenue_streams %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="RevenueStream{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="RevenueStream{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="RevenueStream{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="height: 50px; border: none;">
                 </td>
            </tr>
            <tr id="brain_storming_section">
                <td colspan="5">
                    <h6>{% trans "Brainstorming Space" %}
                        {%if is_founder %}
                            <span class="BrainstormingSpace" style="color: #428bca;" onclick="updateDisplayForm(this.getAttribute('class'))"><i class="fa fa-plus-square"></i></span>
                        {% endif %}
                    </h6>
                    <div id="divBrainstormingSpace">
                    <form class="form" id="BrainstormingSpace" action="" method="post">{% csrf_token %}
                        {% trans "Title" %} : <input type="text" name="title" value=""/><br/>
                        {% trans "Comment" %} : <input type="text" name="comment" value=""/><br/>
                        <input type="hidden" name="update" class="hiddenInput" value="False"/>
                        <input type="submit" value="Envoyer"/>
                    </form>
                        {% for elem in list_brainstorming_spaces %}
                            <div id="{{elem.id}}" class="element" style="border-bottom: 1px dashed black;">
                                {% if last_archive %}
                                    {% if elem.date > last_archive.date %}
                                        <span class="colorElement" style="color: green;">
                                    {% elif elem.updated > last_archive.date %}
                                        <span class="colorElement" style="color: orange;">
                                    {% else %}
                                        <span class="colorElement">
                                    {% endif %}
                                {% else %}
                                    <span class="colorElement" style="color: green;">
                                {% endif %}
                                <span class="BrainstormingSpace{{elem.id}}" onclick='getDetail(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}")'>{{elem.title}}</span>
                                </span>
                                {%if is_founder %}
                                <span style="float: right;" class="BrainstormingSpace{{elem.id}}" onclick='deleteElement(this.className, "{% url "businessCanvas:businessCanvasDeleteElement" 1 %}");'><i class="fa fa-trash"></i></span>
                                <span style="float: right;" class="BrainstormingSpace{{elem.id}}" onclick='editElement(this.className, "{% url "businessCanvas:businessCanvasGetDetail" 1 %}");'><i class="fa fa-pencil-square-o"></i></span>
                                {% endif %}
                                <p style="visibility: hidden; display: none;"></p>
                            </div>
                        {% endfor %}
                    </div>
                </td>
                <td colspan="1">
                    <h6>{% trans "Archive" %}</h6>
                        <div id="divArchive">
                            {% for archive in archives %}
                                <div id="archive{{archive.id}}" style="border-bottom: 1px dashed black; padding-left: 10px;">
                                    <a href="{% url 'businessCanvas:businessCanvasElementArchived_list' archive.id %}">
                                        {{archive|truncatechars:20}}
                                    </a>
                                    {%if is_founder %}
                                    <a href="{% url 'businessCanvas:businessCanvasDeleteArchive' archive.id %}">
                                        <span style="float: right; color: #428bca;" class="archive{{archive.id}}">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}