{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}{% trans "Road map" %}{% endblock %}

{% block extrahead %}
<style>
    .container{
        width: 100%;
        padding: 0px;
    }
    .col-lg-12{
        padding: 0px;
    }
    #page-wrapper{
        min-height: 0px;
    }
</style>
{% endblock %}

{% block content %}
    <iframe id="iframeStartup" src="http://mastartup.etsmtl.ca/sign-in" width="100%" style="border:none;"></iframe>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
    heightMenu = document.getElementById("top-menu").offsetHeight;
    heightWindows = window.innerHeight || document.documentElement.clientHeight || document.body.clientHeight;
    document.getElementById("iframeStartup").height = heightWindows - heightMenu -4;
</script>
{% endblock %}