{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{app.site.entreprise.name}} | {% trans "No Access" %}{% endblock %}

{% block content %}
<!--TODO make beautiful-->
                    <h1>{% trans "Sorry! You do not have the permissions to access this page." %}</h1>

                    <p>{% trans "If you believe this is an error, please contact the administrator for assistance" %} : {{app.site.email_technique}}</p>

                    <p>{% trans "Sorry for the inconvenience" %}...</p>


{% endblock %}