{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block title %}{{app.site.entreprise.name}} | {% trans "No Access" %}{% endblock %}

{% block content %}
<!--TODO make beautiful-->
                    <h1>{% trans "Sorry! But you don't have the permissions to access this page" %}</h1>

                    <p>{% trans "If it's an error, you can contact the administrator for have access on this page" %} : {{app.site.email_technique}}</p>

                    <p>{% trans "Sorry for inconvenience" %}..</p>


{% endblock %}