{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% block title %}Centech | No Access{% endblock %}
{% block content %}
    <!--TODO Finalize this personnal page for resume all informations of a member-->
    <h1>Profile of {{user.first_name}} {{user.last_name}}</h1>
    <p>
        Ajouté le : {{user.date_joined}}<br>
        Dernière visite sur le site : {{user.last_login}}<br>
    </p>
    <p>
        <span class="list">email</span> : {{user.email}}<br>
        <span class="list">phone</span> : {{profil.phone}}<br>
        <span class="list">website</span> : {{profil.website}}<br>
        <span class="list">picture</span> :  {{profil.picture}}<br>
        <span class="list">Domaine d'expertise</span> :
    </p>
    <ul>
        {% for domaineExpertise in profil.expertise.all %}
            <li>{{domaineExpertise}}</li>
        {% endfor %}
    </ul>
    <p>

        <span class="list">About</span> : {{profil.about}}
    </p>
{% endblock %}
