{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load embed_video_tags %}
{% load staticfiles %}

{% block title %}{% trans "Summary" %}{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="{% static 'js/getUrl.js' %}"></script>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <hr>
        <!-- TO SELECT THE STATUS WHAT WE WANT DISPLAY -->
        <label for="status">{% trans "Select a status" %} : </label>
        <select id="status" onchange='getUrl("home:summary", this.value, true);'>
            <option value=''>{% trans "All" %}</option>
            {% for status in list_company_status %}
                {% if status.id == status_selected.id%}
                    <option value='{{status.id}}' selected="selected">{{status.status}}</option>
                {% else %}
                    <option value='{{status.id}}'>{{status.status}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <hr>
    </div>
</div>

<!-----------------------------------------
================= GENERAL =================
------------------------------------------>

<div class="row" align="center" style="margin-top: 50px; border-bottom: 1px solid grey;">
    <div class="col-sm-4" style="border-right: 1px solid grey;">
        <strong>{% trans "Number of companies" %}</strong> <br>
        <span style="font-size: 70px;">{{companies_count}}</span>
    </div>
    <div class="col-sm-4" >
        <strong>{% trans "Number of founders" %}</strong> <br>
        <span style="font-size: 70px;">{{founders_count}}</span>
    </div>
    <div class="col-sm-4" style="border-left: 1px solid grey;">
        <strong>{% trans "Number of mentors" %}</strong> <br>
        <span style="font-size: 70px;">{{mentors_count}}</span>
    </div>
</div>

<!-----------------------------------------
================ FINANCES =================
------------------------------------------>
{% if isCentech %}
<h1>{% trans "Finances" %}</h1>
<div class="row">
    <div class="col-sm-12">
        <div id="accordion">
            {% for type, data in finances.items %}
            <h3 id="elem-{{type}}">{% trans type %}</h3>
            <div id="{{type}}">
                <script type="text/javascript" src="https://www.google.com/jsapi"></script>
                <div id="chart_{{type}}"></div>
                <script type="text/javascript">
                    google.load("visualization", "1", {packages: ["corechart", 'bar']});
                    google.setOnLoadCallback(drawDualX);

                    function drawDualX() {
                        var data = google.visualization.arrayToDataTable([
                            ['{% trans "Companies" %}', 'link', '{% trans "Amount" %}'],
                            {% for company, ammount in data %}
                                ['{{company.name|safe}}', '{% url 'finance:detail_finance' company.id %}', {{ammount}}],
                            {% endfor %}
                        ]);

                        var view = new google.visualization.DataView(data);
                        view.setColumns([0, 2]);

                        var options = {
                            height: data.getNumberOfRows() * 25 + 100,
                            chartArea: {
                                top:20,
                                height: data.getNumberOfRows() * 25,
                            },
                            hAxis: {
                                title: '{% trans "Amount" %} - {% trans type %}',
                                minValue: 0
                            },
                            bars: 'horizontal',
                            backgroundColor : 'none'
                        };

                        //Init elem for set height and width of the chart
                        var elem = document.getElementById('elem-{{type}}');
                        elem.click();

                        var chart = new google.visualization.BarChart(document.getElementById('chart_{{type}}'));

                        google.visualization.events.addListener(chart, 'ready', function () {
                            //Close elem
                            elem.click();
                        });

                        chart.draw(view, options);

                        var selectHandler = function(e) {
                            window.location = data.getValue(chart.getSelection()[0]['row'], 1 );
                        }

                        // Add our selection handler.
                        google.visualization.events.addListener(chart, 'select', selectHandler);
                    }
                </script>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}


<!-----------------------------------------
======== INDICATORS OF PERFORMANCES =======
------------------------------------------>
{% if isCentech %}

<h1>{% trans "Indicators of performances" %}</h1>
<div class="row" align="center">
    <div class="col-sm-6" style="border-right: 1px solid grey;"><strong>{% trans "Average IRLs" %}</strong> <br><span style="font-size: 70px;">{{averageIRL}}</span></div>
    <div class="col-sm-6" ><strong>{% trans "Average TRLs" %}</strong> <br><span style="font-size: 70px;">{{averageTRL}}</span></div>
</div>

<div class="row" style="padding-top: 0px;">
    <div class="col-sm-12">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div id="chart_kpi"></div>
        <script type="text/javascript">
            google.load("visualization", "1", {packages: ["corechart", 'bar']});
            google.setOnLoadCallback(drawDualX);

            function drawDualX() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', '{% trans "Companies" %}');
                data.addColumn('string', 'id');
                data.addColumn('number', '{% trans "IRL" %}');
                data.addColumn({type: 'string', role: 'tooltip'});
                data.addColumn('number', '{% trans "TRL" %}');
                data.addColumn({type: 'string', role: 'tooltip'});
                {% for company, irl, trl in KPI %}
                    {% if irl and trl %}
                        data.addRows([['{{company.name|safe}}', '{{company.id}}', {{irl.level}}, "IRL:{{irl.level}}\n{% trans "Last IRL" %}:{{irl.period_start}}", {{trl.level}}, "TRL:{{trl.level}}\n{% trans "Last TRL" %}:{{trl.period_start}}"],]);
                    {% elif irl %}
                        data.addRows([['{{company.name|safe}}', '{{company.id}}', {{irl.level}}, "IRL:{{irl.level}}\n{% trans "Last IRL" %}:{{irl.period_start}}", {{trl.level}}, "TRL:{{trl.level}}"],]);
                    {% elif trl %}
                        data.addRows([['{{company.name|safe}}', '{{company.id}}', {{irl.level}}, "IRL:{{irl.level}}", {{trl.level}}, "TRL:{{trl.level}}\n{% trans "Last TRL" %}:{{trl.period_start}}"],]);
                    {% else %}
                        data.addRows([['{{company.name|safe}}', '{{company.id}}', {{irl.level}}, "IRL:{{irl.level}}", {{trl.level}}, "TRL:{{trl.level}}"],]);
                    {% endif %}
                {% endfor %}

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 2, 4]);

                var options = {
                    height: data.getNumberOfRows() * 30 + 100,
                    chartArea: {
                        top:20,
                        height: data.getNumberOfRows() * 30 ,
                    },
                    hAxis: {
                        gridlines: {
                            count: 10
                        },
                        title: '{% trans "Level" %}',
                        minValue: 0,
                        maxValue: 9

                    },
                    bars: 'horizontal',
                    backgroundColor : 'none'
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_kpi'));

                chart.draw(view, options);

                var selectHandler = function(e) {
                    type = chart.getSelection()[0]['column'];
                    id = data.getValue(chart.getSelection()[0]['row'], 1 );
                    if(type == 1){
                        getUrl("kpi:irl_filter", id, true);
                    }
                    else if(type == 2){
                        getUrl("kpi:trl_filter", id, true);
                    }
                    //Else nothing
                }

                // Add our selection handler.
                google.visualization.events.addListener(chart, 'select', selectHandler);
            }
        </script>
    </div>
</div>
{% endif %}


<!-----------------------------------------
============= EXPERIMENTATIONS ============
------------------------------------------>
{% if isCentech %}

<h1>{% trans "Experiments" %}</h1>
<div class="row" align="center">
    <div class="col-sm-6" style="border-right: 1px solid grey;">
        <strong>{% trans "Experiments in progress" %}</strong> <br>
        <span style="font-size: 70px;">{{experiments_inProgress_count}}</span>
    </div>
    <div class="col-sm-6" >
        <strong>{% trans "Experiments validated" %}</strong> <br>
        <span style="font-size: 70px;">{{experiments_validated_count}}</span>
    </div>
</div>

<div class="row" style="padding-top: 0px;">
    <div class="col-sm-12">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div id="chart_experiment"></div>
        <script type="text/javascript">
            google.load("visualization", "1", {packages: ["corechart", 'bar']});
            google.setOnLoadCallback(drawDualX);

            function drawDualX() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', '{% trans "Companies" %}');
                data.addColumn('string', 'link');
                data.addColumn('number', '{% trans "In progress" %}');
                data.addColumn({type: 'string', role: 'tooltip'});
                data.addColumn('number', '{% trans "Validated" %}');
                data.addColumn({type: 'string', role: 'tooltip'});
                {% for company, inProgress, validated, lastExperiment in experiments %}
                    {% if inProgress and validated %}
                        data.addRows([['{{company.name|safe}}', '{% url 'experiment:experiment_list' company.id %}', {{inProgress}}, "{% trans "In progress" %}:{{inProgress}}\n{% trans "Last experimentation" %}:{{lastExperiment.dateFinish}}", {{validated}}, "{% trans "Validated" %}:{{validated}}\n{% trans "Last experimentation" %}:{{lastExperiment.dateFinish}}"],]);
                    {% elif inProgress %}
                        data.addRows([['{{company.name|safe}}', '{% url 'experiment:experiment_list' company.id %}', {{inProgress}}, "{% trans "In progress" %}:{{inProgress}}\n{% trans "Last experimentation" %}:{{lastExperiment.dateFinish}}", {{validated}}, ""],]);
                    {% elif validated %}
                        data.addRows([['{{company.name|safe}}', '{% url 'experiment:experiment_list' company.id %}', {{inProgress}}, "", {{validated}}, "{% trans "Validated" %}:{{validated}}\n{% trans "Last experimentation" %}:{{lastExperiment.dateFinish}}"],]);
                    {% else %}
                        data.addRows([['{{company.name|safe}}', '{% url 'experiment:experiment_list' company.id %}', {{inProgress}}, "", {{validated}}, ""],]);
                    {% endif %}
                {% endfor %}

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 2, 4]);

                var options = {
                    height: data.getNumberOfRows() * 30 +100,
                    chartArea: {
                        top:20,
                        height: data.getNumberOfRows() * 30,
                    },
                    hAxis: {
                        maxAlternation:1,
                        title: "{% trans 'Number of experimentations' %}",
                        minValue: 0,

                    },
                    bars: 'horizontal',
                    backgroundColor : 'none'
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_experiment'));

                chart.draw(view, options);

                var selectHandler = function(e) {
                    window.location = data.getValue(chart.getSelection()[0]['row'], 1 );
                }

                // Add our selection handler.
                google.visualization.events.addListener(chart, 'select', selectHandler);
            }
        </script>
    </div>
</div>

{% endif %}

<!-----------------------------------------
============ TIME OF INCUBATION ===========
------------------------------------------>
{% if status_selected.id != 1 and status_selected.id != 7%}
{% trans "Incubation duration (months)" as titleOfChart %}

<h1>{{ titleOfChart|escape }}</h1>

<div class="row" style="padding-top: 0px;">
    <div class="col-sm-12">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div id="chart_timeOfIncubation"></div>
        <script type="text/javascript">
            google.load("visualization", "1", {packages: ["corechart", 'bar']});
            google.setOnLoadCallback(drawDualX);

            function drawDualX() {
                var data = new google.visualization.DataTable();
                data.addColumn('string', "{% trans "Companies" %}");
                data.addColumn('string', "link");
                data.addColumn('number', "{{ titleOfChart|escapejs }}");
                {% for company, timeSpent in timeOfIncubation %}
                    data.addRows([["{{company.name|safe}}", '{% url 'company:detail' company.id %}', {{timeSpent}}],]);
                {% endfor %}

                var view = new google.visualization.DataView(data);
                view.setColumns([0, 2]);

                var options = {
                    height: data.getNumberOfRows() * 25 + 100,
                    chartArea: {
                        top:20,
                        height: data.getNumberOfRows() * 25,
                    },
                    hAxis: {
                        maxAlternation:1,
                        title: "{{ titleOfChart|escapejs }}",
                        minValue: 0,

                    },
                    bars: 'horizontal',
                    backgroundColor : 'none'
                };

                var chart = new google.visualization.BarChart(document.getElementById('chart_timeOfIncubation'));

                chart.draw(view, options);

                var selectHandler = function(e) {
                    window.location = data.getValue(chart.getSelection()[0]['row'], 1 );
                }

                // Add our selection handler.
                google.visualization.events.addListener(chart, 'select', selectHandler);
            }
        </script>
    </div>
</div>
{% endif %}

<!-----------------------------------------
================= COMMENT =================
------------------------------------------>
{% if status_selected.id and isCentech %}
    <div class="row" style="padding-top: 0px;">
        <div class="col-sm-12">
            <form enctype="multipart/form-data" method="post" act>{% csrf_token%}
                {% crispy form_comment %}
            </form>
        </div>
    </div>
{% else %}
    <br>
    <div class="row" style="padding-top: 0px;">
        <div class="col-sm-12">
            <textarea readonly class="md-editor">{{ status_selected.comment }}</textarea>
        </div>
    </div>
{% endif %}
<br>
{% endblock %}

{% block extrajs %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
$(function() {
    $( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content"
    });
});
</script>
{% endblock %}