{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n %}
{% load embed_video_tags %}
{% load staticfiles %}
<!-- Load internationalisation utils-->
{% load i18n %}

{% block content %}
    <div class="row" style="margin-top: 50px;">
        <div class="col-sm-12" align="center">
            <div class="row" align="center">
                <div class="col-sm-4" style="border-right: 1px solid grey;"><strong>{% trans "Number of companies" %}</strong> <br><span style="font-size: 70px;">{{companies.count}}</span></div>
                <div class="col-sm-4" ><strong>{% trans "Number of founders" %}</strong> <br><span style="font-size: 70px;">{{founders.count}}</span></div>
                <div class="col-sm-4" style="border-left: 1px solid grey;"><strong>{% trans "Number of mentors" %}</strong> <br><span style="font-size: 70px;">{{mentors.count}}</span></div>
            </div>
        </div>
    </div>

<h1>Finances</h1>
<div id="accordion" style="margin-top: 50px;">
    {% for type, data in finances.items %}
    <h3 id="elem-{{type}}">{{type|capfirst}}</h3>
    <div id="{{type}}">
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <div id="chart_{{type}}"></div>
        <script type="text/javascript">
            google.load("visualization", "1", {packages: ["corechart", 'bar']});
            google.setOnLoadCallback(drawDualX);

            function drawDualX() {
                var data = google.visualization.arrayToDataTable([
                    ['{% trans "Companies" %}', '{% trans "Amount" %}'],
                    {% for company, ammount in data %}
                        ['{{company.name|safe}}', {{ammount}}],
                    {% endfor %}
                ]);

                var options = {
                    height: data.getNumberOfRows() * 30,
                    hAxis: {
                        title: 'Ammount - {{type}}',
                        minValue: 0
                    },
                    bars: 'horizontal',
                    backgroundColor : 'none'
                };

                //Init elem for set height and width of the chart
                var elem = document.getElementById('elem-{{type}}');
                elem.click();

                var chart = new google.visualization.BarChart(document.getElementById('chart_{{type}}'));

                google.visualization.events.addListener(chart, 'ready', function () {
                    //Close elem
                    elem.click();
                });

                chart.draw(data, options);
            }
        </script>
    </div>
    {% endfor %}
</div>

<h1>Indices de performances</h1>

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-12" align="center">
        <div class="row" align="center">
            <div class="col-sm-6" style="border-right: 1px solid grey;"><strong>{% trans "Average IRLs" %}</strong> <br><span style="font-size: 70px;">{{averageIRL}}</span></div>
            <div class="col-sm-6" ><strong>{% trans "Average TRLs" %}</strong> <br><span style="font-size: 70px;">{{averageTRL}}</span></div>
        </div>
    </div>
</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
$(function() {
    $( "#accordion" ).accordion({
        collapsible: true,
        heightStyle: "content"
    });
});
</script>
{% endblock %}
