{% extends "dashboard.html" %}
<!-- Load internationalisation utils-->
{% load i18n staticfiles bootstrap3 %}

{% block title %}{% trans "Rental" %}{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post">{% csrf_token%}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% trans "Save" %}
            </button>
            <button type="reset" class="btn">
                {% trans "Reset" %}
            </button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block extrajs %}
    <script>
        $( "#id_date_start, #id_date_end" ).datepicker({ dateFormat: 'yy-mm-dd' });
    </script>
{% endblock %}